@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

body,
h1,
h2,
ul,
li,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #1a1a1a 30%, #fff 30%);
  font-family: "Noto Serif";
}

#app {
  padding: 0 80px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  padding: 20px 0;
  margin: 0 auto;
}

.logo {
  width: 80px;
}

.cart-menu::after {
  content: "";
  display: inline-block;
  background: url("./assets/carrinho.svg") no-repeat center center;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.cart-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Lista produtos */

.products {
  max-width: 900px;
  margin-top: 100px;
  margin: 100px auto 0 auto;
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  background: white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.product:hover {
  cursor: pointer;
}

.product-img {
  max-width: 300px;
  margin-right: 40px;
}

.product-title {
  font-size: 3rem;
  line-height: 1;
}

.product-price {
  color: rgba(0, 0, 0, 0.5);
}

/* Modal */

.modal::before {
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  top: 0px;
  left: 0px;
  width: 100%;
  padding: 80px;
}

.modal-container {
  position: relative;
  background: linear-gradient(to right, transparent 250px, white 250px);
  z-index: 1;
  display: grid;
  align-items: end;
  grid-gap: 50px;
  padding: 50px 50px 50px 0px;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    transform: translate3D(50px, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0px, 0, 0);
    opacity: 1;
  }
}

.modal-close {
  border-radius: 50%;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 1rem;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.2);
  background: white;
  cursor: pointer;
}

.modal-img {
  grid-column: 1;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-img img {
  max-width: 300px;
  display: block;
}

.modal-data {
  max-width: 600px;
  grid-column: 2;
}

.modal-title {
  font-size: 3rem;
}

.modal-btn {
  margin-top: 80px;
  background: black;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 10px 25px;
  font-family: "Nato Serif";
}

.modal-btn:active {
  background: #808080;
}

/* Avaliações */

.reviews {
  grid-column: 2;
}

.review {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.review-subtitle {
  font-size: 1.75rem;
}

.review-description {
  color: rgba(0, 0, 0, 0.7);
  margin: 20px 0 5px 0;
}

.review-author {
  font-weight: bold;
}
